// variables


//                NOTES
//light blue  #C7F7FF
//med blue    #89C0C9
//dark blue   #3a5E63
//light brown #C9A689
//dark brown  #7C593C
//light grey  #d4d4d4
//dark grey   #222

//                DEFAULTS

$color-lightblue:  #C7F7FF;
$color-medblue:    #89C0C9;
$color-darkblue:   #3a5E63;
$color-lightbrown: #C9A689;
$color-darkbrown:  #7C593C;
$color-lightgrey:  #d4d4d4;
$color-darkgrey:   #222;
$color-white:      #fff;

$font-sans-serif: "Josefin Sans", "Trebuchet MS", Helvetica, sans-serif;
$font-serif: Cardo, "Palatino Linotype", "Book Antique", Palatino, serif;